footer {
  background-color: #161616;
}

footer .footer-content {
    max-width: 1440px;
    margin: 0 auto;
    padding: 60px 50px;
    display: flex;
    color: #fff;
    z-index: 1;
    position: relative;
    flex-direction: column;
  }

footer .footer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  color: #ffffffbb;
}

footer .footer-container > * {
    padding: 1rem;
}

footer .footer-container .footer-menu {
    padding: 1rem 2.5rem;
}
footer .footer-container .footer-menu > div {
    padding: 1rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.64);
}

footer .social-container {
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
}

footer .social-container > div {
    padding-right: 2rem;
}

footer .design {
    background-color: black;
    color: #fff;
    text-align: center;
    font-size: 12px;
    padding: 1rem 0;
}